@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,100..900&family=Roboto:wght@400;500&display=swap');

*,*::after,*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #26292E;
}

li {
  list-style: none;
}

html {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #26292E;
  font-size: 100px;
}

.container {
  max-width: 1280px;
  padding: 115px 20px 0 202px;
}

.block__about {
  display: flex;
  gap: 40px;
}

.image {
  position: relative;
  border: 20px solid #3D8455;
  min-width: 450px;
  width: 450px;
  min-height: 450px;
  height: 450px;
}

.img__flower {
  position: relative;
  width: 220px;
  height: 580px;
  left: 95px;
  top: -100px;
}

.title {
  font-weight: 500;
  font-size: .5rem;
  line-height: 58px;
  padding-bottom: 19px;
}

.text {
  font-weight: 400;
  font-size: .2rem;
  line-height: 28px;
  padding-bottom: 23px;
}

.list ul {
  display: flex;
  flex-direction: column;
  gap: 13px;

}

.list__item {
  font-weight: 500;
  font-size: .2rem;
  line-height: 28px;
}

.list__item span {
  color: #408858;
}

.btn {
  background-color: #408858;
  padding: 17px 42px;
  font-weight: 500;
  font-size: .2rem;
  color: #FFF;
  display: inline-block;
}